.header_contacts{
    max-width: 100%;
    display: none;
    padding: 0 25px;
    background-color: #2a2a2a;  
}
.header_top-nav-callus{
    letter-spacing: 1.3px;
    font-weight: 700;
    font-size: 0.75rem; 
    padding: 15px 0;
    margin: 15px 0;
}
.header_top-nav-email{
    letter-spacing: 1.3px;
    font-weight: 700;
    font-size: 0.75rem; 
    padding: 15px 0;
    margin: 15px 0;
    text-align: right;
}

.header_top-nav-callus_1{
    color:white;
}
.header_top-nav-email_1{
    color:white;

}
.ui-link{
    color:white;
    text-decoration: none;
}
.ui-link:hover{
    text-decoration: underline;
}
@media (min-width: 990px) {
    .header_contacts {
    display: block;    
    }
     .header_top-nav {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
        max-width: 1115px;
        margin: 0 auto;
      }
    }
    @media (min-width: 1020px) {
        .header_top-nav  {
        max-width: 1115px;
      }
    }
    @media (min-width: 1275px) {
        .header_top-nav  {
        min-width: 1115px;
        max-width: 60%;
      }
    }