.main-headphones-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.main-headphones-carousel__button {
    width: 36px;
    height: 48px;
    border-radius: 50%;
}
.back {
    top: 169px;
    left: 186px;
}

.forward {
    
    top: 169px;
    left: 534px;
}

.main-headphones-carousel__slide {
    display: flex;

}