@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Lato:wght@900&family=PT+Sans&display=swap');

.h2 {
    font-weight: 900;
    font-family: 'Heebo', sans-serif;
    font-size: 60px;
    color: #2a2a2a;
    text-align: center;
    padding: 50px 0px 0px 0px;
}

.p {
    text-align: center;
    font-size: 19px;
    line-height: 1.4;
    font-family: PT Sans,sans-serif;
    font-weight: 400;
    color: #3b3b3b;
    padding-bottom: 40px;
}

.h4-name {
    font-weight: 400;
    font-family: PT Sans,sans-serif;
    font-size: 19px;
    text-align: center;
    margin-top: 24px;
    color: #2a2a2a;
}

.h4-price {
    font-weight: 700;
    font-family: PT Sans,sans-serif;
    font-size: 19px;
    text-align: center;
    margin-top: 16px;
    color: #2877b6;
}

.a {
    text-decoration: none;
}

.main__headphones {
    padding-bottom: 30px;
}

.headphones-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    padding: 20px 0px 20px 0px;
}

.headphones-all-cards {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    max-width: 1225px;
    object-fit: cover;
}

.headphones-card {
    padding: 0px 15px 0px 15px;
    object-fit: cover;
    max-width: 200px;
}

.main-headphones-carousel__slide img {
    height: 300px;
    max-width: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #f2f2f2;
    align-items: center;
    width: 100%;
    align-items: center;
    padding: 34px 31px 34px 31px; 
}

.headphones-image {
    object-fit: cover;
    width: 340px;
    max-width: 340px;
}

.button-add-cart {
    display: flex;
    flex-direction: column;
    background-color: #eb5112;
    padding: 15px 30px 15px 30px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 24px;
    align-items: center;
    color: white;
    transition: 1s;
}

.button-add-cart:hover {
    transition: 0.5s;
    background-color: black;
}

@media (min-width: 1px) {
    .headphones-all-cards {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
    }
    .headphones-card {
        max-width: 300px;
    }
}

@media (min-width: 1220px) {
    .headphones-all-cards {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }
    .headphones-card {
        max-width: 500px;
    }
}

@media (min-width: 1400px) {
    .headphones-all-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}