.popular_articles {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}
.airvawes {
    width: 100%;
    height: 30px;
    background-image: url(../img/pop__articles/de2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px;
}
.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
}
.speaker_cont {
    width: 25%;
    height: auto;
    min-width: 400px;
    margin: 3%;
}
.headphones-cont {
    width: 25%;
    height: auto;
    min-width: 400px;
    margin: 3%;
}
.loudspeakers-cont {
    width: 25%;
    height: auto;
    min-width: 400px;
    margin: 3%;
}
.a__pa {
    text-decoration: none;
    font-family: inherit;
    color: black;
}
